@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* El tamaño de la caja ya no se ve afectado por el padding es absoluto Las propiedades width y height incluyen el borde y relleno.*/
    font-family: 'Madimi One';
}

body{
    min-height: 100vh; /* vh es la unidad de altura de la ventana gráfica representa un porcentaje de la altura de la ventana gráfica. 50vh significa el 50% de la altura de la ventana gráfica.*/
    background: linear-gradient( #000000 50%, #2227af) /*Transicion progresiva entre uno o mas colores es un tipo de <img> */
}

header{
    width: 100%;
    padding: 30px 100px; /*arriba/abajo   y   derecha/izquierda en relacion con la ventana*/
    display:flex; /*especifica si un elemento es tratado como block or inline element. dimensiones flexibles en un eje*/
    justify-content: space-between; /*Esta propiedad define la alineación de los ítems a lo largo del eje principal. Ayuda a distribuir el espacio libre que queda en el contenedor, ya sea que todos los flex ítems de una línea sean inflexibles o flexibles, pero ya hayan alcanzado su tamaño máximo. También ejerce cierto control sobre la alineación de los ítems cuando sobrepasan el límite de la línea.*/
}

header .logo{ /*debe ir un espacio despues de la etiqueta padre*/
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    color: white;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center; /*valor de todos los hijos directos como grupo. En Flexbox, controla la alineación de elementos en el eje transversal (vertical) */
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 6px 15px; /*arriba/abajo   y   derecha/izquierda*/
}

header ul li a:hover, header ul li a.activo {
    background-color: hwb(261 9% 63%);
    color: white;
}

section{
    justify-content: space-around;
    width: 100%;
    display:flex;
    align-items: center;
}

section img{
    height: 100%;
    width: 50%;
    mix-blend-mode: screen; /*establece cómo el contenido de un elemento debe combinarse con el contenido del elemento principal y el fondo del elemento*/
}

#presentacion{
    background-color: hwb(260 2% 54%);
    border-radius: 20px;
    border: #000000ff 5px solid;
    padding: 15px 10px;
    text-align: center;
    color:white;
}

.parciales{
    margin: 200px;
}

.parciales h1{
    color: white;
    text-align: center;
    margin: 150px;
    font-size: 50px;
}

td.boton{
    border-radius: 20px;
    padding: 15px;
    height: 10px;
    color: white;
    transition: all 0.5s;
    font-size: 35px;
}

.boton:hover {
    background: indigo;
  }

.parciales table{
    display: grid;
    justify-content: center;
}

.parciales img{
    padding: 10px;
    padding-right: 100px;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

